.upLoaderContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 .image-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
}
button {
  margin-top: 2%;
  padding: $padding;
  background-color: #87ac39;
  color: $secondary-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    background-color: $cuarto-color;
  }

  &:disabled {
    background-color: $border-color;
  }
}
}

.image-uploader {
  min-height: 200px;
  min-width: 80%;
    border: 2px dashed #a6d4cf;
    padding: 20px;
    text-align: center;
    cursor: pointer;

  & .imageAdded{
    margin-top: 5%;
    width: 80px;
  }
    &.small{
      min-height: 50px;
    }
  & .imageAdd{
    margin-top: 5%;
    width: 80px;
  }
    p {
      margin: 0;
      color: $primary-color;
      font-weight: 500;
      font-family: $secondary-font;
    }
  }