nav {
  // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    // padding: 2%
  }
  
  nav h1 {
    margin: 0;
  }

  .logoNav{
    height: 100%;
    margin-left: 20px;
  }
  .selectNav{
    margin-right: 5%;
    position: relative;
  display: inline-block;
  
  }

  .selectNav select {
    min-width: 70px;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    cursor: pointer;
  }
  
  .selectNav::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
  }
  
  /* Estilo adicional para cuando el select está en foco */
  .selectNav select:focus {
    border-color: #666;
    outline: none;
  }
  .selectNav select option:hover {
    background-color: #f0f0f0;
  }
  
  .selectNav select option:checked {
    background-color: $cuarto-color; 
    color: #f0f0f0;
  }