$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$title-font: 'Bebas Neue', cursive;

$primary-color: #014948;
$secondary-color: #fff;
$border-color: #cccccc;
$tercer-color: #c1d4d3;
$cuarto-color: #9bc441;
$padding: 10px;